.Blog {
    background: url("chat-pic.jpg");
    margin-top: 30px;
    border: 3px solid black;
    width: 700px;
    margin-left: 150px;
    margin-bottom: 50px;
    background-size: cover;
}
.main-input {
    width: 300px;
    border: 2px solid black;
    padding: 7px;
    margin: 10px 0 15px 30px;
}
.user-input {
    margin-left: 10px;
    width: 150px;
    border: 2px solid black;
    padding: 7px;
}
.btn-1 {
    margin-left: 10px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 5px;
}
.btn-1:hover {
    font-size: 20px;
}
.btn-1:focus {
    font-weight: bold;
}